
  .navigation-list{
    list-style: none;
    display: grid;
    place-content: end;
    gap: 0.5rem;
    margin-left: 20rem;
    text-align: start;
    padding-right:3rem;
    padding-top: 1rem;
    position: fixed;
    
  }
  .navigation-link{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: all 0.1s ease-in-out;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    text-align: start;
    gap: 1rem;
    padding: 0.7rem;   
  }
  .navigation-link:hover{
    color: #1d9bf0;
    border-radius:2rem;
    background: #17181a;
  }
  .nav-icon{
    font-size: 2rem;
    padding-top: 0.5rem;
  }
  .button{
    background-color: #1d9bf0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3rem;
  }
  .navigation-more__button{
    background-color: #1d9cf000;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 3rem;
    align-content: center;
    text-align: center;
    color: white;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 2rem;
    font-size: 1rem;
    cursor: pointer;
  }
  